En este notebook se realizará un análisis de las matriculaciones de turismos durante los últimos 10 años en España. Los datos se extraerán de la web de datosmacro (Link: https://datosmacro.expansion.com/negocios/matriculaciones-vehiculos/espana?anio=2021) utilizando las librerías Beautifulsoup y Selenium

In [1]:
# Importamos las librerías que necesitamos:

# Beautifulsoup
from bs4 import BeautifulSoup

# Requests
import requests

# Importar librerías para automatización de navegadores web con Selenium
# -----------------------------------------------------------------------
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException # Excepciones comunes de selenium que nos podemos encontrar 


# Importar librerías para pausar la ejecución
# -----------------------------------------------------------------------
from time import sleep  # Sleep se utiliza para pausar la ejecución del programa por un número de segundos.

# Librerías para tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

#Librerias de soporte
#-------------------------------------------------------------------------
import warnings
import sys
sys.path.append("../")
from src import soporte
import json
from tqdm import tqdm
warnings.filterwarnings("ignore")

In [5]:
#Comenzamos accediendo a la página para obtener los datos
df_datosmacro = pd.DataFrame()
for i in range(2002,2021):
    url_datosmacro = f"https://datosmacro.expansion.com/negocios/matriculaciones-vehiculos/espana?anio={i}"
    tabla = soporte.sacar_historico(url_datosmacro,0)
    df_datosmacro = pd.concat([df_datosmacro,tabla.iloc[:-1]])

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [6]:
df_datosmacro.head(15)

,Fecha,Vehículos comerciales Mes,Vehículos pasajeros Mes,Venta mensual vehículos,Vehículos Mes/1000 hab.,Vehículos comerciales Año,Vehículos pasajeros Año,Venta anual vehículos,Vehículos Año/1000 hab.
0,Diciembre 2002,21.249,121.139,140.550,"3,36",235.745,1.405.275,1.636.940,"39,14"
1,Noviembre 2002,19.666,103.865,123.528,"2,98",232.876,1.398.409,1.629.043,"39,33"
2,Octubre 2002,22.415,118.428,140.843,"3,40",234.141,1.408.361,1.640.310,"39,60"
3,Septiembre 2002,15.250,85.945,101.195,"2,44",233.250,1.408.514,1.639.572,"39,58"
4,Agosto 2002,13.842,84.795,98.637,"2,38",234.276,1.412.047,1.644.131,"39,69"
5,Julio 2002,25.268,160.098,182.908,"4,42",235.515,1.421.330,1.654.653,"39,94"
6,Junio 2002,19.652,132.196,151.848,"3,67",232.137,1.431.198,1.663.672,"40,16"
7,Mayo 2002,21.566,134.088,155.993,"3,80",234.831,1.456.323,1.691.491,"41,22"
8,Abril 2002,20.066,119.251,139.281,"3,39",236.471,1.465.007,1.701.476,"41,46"
9,Marzo 2002,19.825,133.217,153.042,"3,73",236.873,1.473.886,1.710.793,"41,69"
10,Febrero 2002,18.323,110.314,128.637,"3,13",241.642,1.497.019,1.738.695,"42,37"
11,Enero 2002,18.623,101.939,120.478,"2,94",244.979,1.509.256,1.754.260,"42,75"
0,Diciembre 2003,20.632,134.330,154.967,"3,64",250.960,1.465.077,1.716.529,"40,34"
1,Noviembre 2003,21.623,117.498,139.122,"3,30",251.577,1.451.886,1.702.112,"40,34"
2,Octubre 2003,24.366,128.819,153.189,"3,63",249.620,1.438.253,1.686.518,"39,97"

In [7]:
ruta_csv = "C:\\Users\\Víctor\\Desktop\\HACKIO\\Proyecto5\\Datos\\CSVs\\historico_matriculaciones.csv"

df_datosmacro.to_csv(ruta_csv, index= False, encoding= "utf-8")